header
{
  display: flex;
  align-items: center;
  margin: auto;
}

footer
{
  text-align: center;
}

body 
{
  width: 90%;
  max-width: 1220px;
  margin: auto;
}

h3
{
  text-align: center;
}

h4
{
  text-align: left;
}

hr
{
  width: 90%;
  height: 1px;
  border-color: red;
  background-color: red;
}

.films
{
  display: table;
}

.description_films
{
  width: 80%;
  text-align: left;
  margin-left: 10%;
}

.the_dark_knight,
.green_street_hooligans,
.the_revenant,
.wow
{
  float: left;
  min-width: 250px;
}

.image_films
{
  text-align: center;
}

.logotip
{
  float: left;
  clear: both;
}

.description
{
  min-height: 300px;
  text-align: left;
  line-height: 2;
  font-size: 20px;
}

.list_marking,
.list_numbering
{
  width: 50%;
  float: left;
  min-width: 200px;
}

.list
{
  width: 100%;
  display: table;
  align-items: center;
}

.photo
{ 
  float: right;
  margin-left: 25px;
}
